[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
async-timeout = "*"
attrs = "*"
beautifulsoup4 = "*"
bs4 = "*"
chardet = "*"
idna = "*"
multidict = "*"
soupsieve = "*"
typing-extensions = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.9"
